﻿@model string
@{
    Layout = "";
}
<!doctype html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8" />
    <title>Error - Pay Cloud</title>
    <link href="~/css/ErrorPageStyle.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="level">
        <div id="content">
            <div id="gears">
                <div id="gears-static"></div>
                <div id="gear-system-1">
                    <div class="shadow" id="shadow15"></div>
                    <div id="gear15"></div>
                    <div class="shadow" id="shadow14"></div>
                    <div id="gear14"></div>
                    <div class="shadow" id="shadow13"></div>
                    <div id="gear13"></div>
                </div>
                <div id="gear-system-2">
                    <div class="shadow" id="shadow10"></div>
                    <div id="gear10"></div>
                    <div class="shadow" id="shadow3"></div>
                    <div id="gear3"></div>
                </div>
                <div id="gear-system-3">
                    <div class="shadow" id="shadow9"></div>
                    <div id="gear9"></div>
                    <div class="shadow" id="shadow7"></div>
                    <div id="gear7"></div>
                </div>
                <div id="gear-system-4">
                    <div class="shadow" id="shadow6"></div>
                    <div id="gear6"></div>
                    <div id="gear4"></div>
                </div>
                <div id="gear-system-5">
                    <div class="shadow" id="shadow12"></div>
                    <div id="gear12"></div>
                    <div class="shadow" id="shadow11"></div>
                    <div id="gear11"></div>
                    <div class="shadow" id="shadow8"></div>
                    <div id="gear8"></div>
                </div>
                <div class="shadow" id="shadow1"></div>
                <div id="gear1"></div>
                <div id="gear-system-6">
                    <div class="shadow" id="shadow5"></div>
                    <div id="gear5"></div>
                    <div id="gear2"></div>
                </div>
                <div class="shadow" id="shadowweight"></div>
                <div id="chain-circle"></div>
                <div id="chain"></div>
                <div id="weight"></div>
            </div>
            <div id="title">
                <h1>@Model</h1>
                <p>Sorry for the inconvenience!</p>
            </div>
        </div>
    </div>
</body>

</html>
