﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login - Pay Cloud";
}

<!DOCTYPE html>
<html>
<body>

    <div>
        <div class="bg_image h-100">
            <div class="lr_wrap">
                <div class="card-body">
                    @if ((null != Model) && (null != Model.Banners) && (0 < Model.Banners.Count()))
                    {
                        <div class="col-12">
                            <div class="card-body">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        @{ int counter = 0; }
                                        <li data-target="#carouselExampleIndicators" data-slide-to="@counter" class="active"></li>
                                        @foreach (var item in Model.Banners.Skip(1))
                                        {
                                            counter++;
                                            <li data-target="#carouselExampleIndicators" data-slide-to="@counter"></li>
                                        }
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <a target="_blank" rel="noopener noreferrer" href="@Model.Banners.First().UrlLink"><img class="d-block w-100" src="@Model.Banners.First().ImgLocationPath" alt="@Model.Banners.First().ImgLocationPath" style="width:200px;height:200px"></a>
                                        </div>
                                        @foreach (var item in Model.Banners.Skip(1))
                                        {
                                            <div class="carousel-item">
                                                <a target="_blank" rel="noopener noreferrer" href="@item.UrlLink"><img class="d-block w-100" src="@item.ImgLocationPath" alt="@item.ImgLocationPath" style="width:200px;height:200px"></a>
                                            </div>
                                        }
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="lr_icon text-center">
                            <img src="images/logo_icon.png" alt="logo" />
                        </div>
                    }
                    <h6 class="my-4 text-center text-uppercase">Welcome to Pay Cloud</h6>
                    <form asp-controller="Identity" asp-action="Login" asp-area="user" method="post">
                        <div class="input-item">
                            <label for="InputEmail">Username</label>
                            <input asp-for="Username" id="InputEmail" type="text" value="DemoUser" placeholder="Your Username" class="form-control" required>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="input-item">
                            <label for="InputPassword">Password</label>
                            <input asp-for="Password" type="password" id="InputPassword" value="a1234567" placeholder="Password" class="form-control" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div>
                            <br />
                            <button type="submit" class="btn btn-default btn-block">Log In</button>
                        </div>
                    </form>
                    <br />
                    <br />
                    <a class="btn btn-default btn-block" asp-controller="Login" asp-action="adminlogin" asp-area="admin">Go to Admin demo page</a>
                    <br />
                    <div class="text-center">
                        @*<div class="mouse-hover-tooltip" data-toggle="tooltip" data-placement="top" title="Leave a message for us">
                            <a id="leave-us-a-message-id" onclick="GetMessageModal()" href="#leave-us-a-message-id">
                                <div>
                                    <img src="~/images/write_a_message_icon.png" alt="Email:" style="width:30px;height:30px" />
                                    <small>Leave a message</small>
                                </div>
                            </a>
                        </div>*@
                        <div class="mouse-hover-tooltip" data-toggle="tooltip" data-placement="top" title="Click to copy our email address">
                            <a id="send-us-a-message-id" onclick="copyToClipboard('our-email-address')" href="#send-us-a-message-id">
                                <div>
                                    <img src="~/images/Email_icon.svg" alt="Email:" style="width:30px;height:30px" />
                                    <small id="our-email-address">cloud.team.public.relations@gmail.com</small>
                                </div>
                            </a>
                        </div>
                        <br />
                        <small>© 2019 Telerik Academy.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Leave a message for us modal -->
    <div id="myModalPartial" style="width:200px">
        <partial name="_ModalPartial" />
    </div>

    <script>
        function isNullOrWhitespace(input) {
            return !input || !input.trim() || "" === input.trim();
        }

        $('#mymodal-close-button').click(function (event) {
            //event.preventDefault();
            //event.stopImmediatePropagation();
            let tempName = $('#InputName').val();
            let tempTitle = $('#InputTitle').val();
            let tempEmail = $('#InputEmail').val();
            let tempMessage = $('#InputMessage').val();

            url = '/ContactForm/SendUserMessage';
            sendUsAMessagePost(url, tempName, tempTitle, tempEmail, tempMessage);
        });

        function sendUsAMessagePost(url, tempName, tempTitle, tempEmail, tempMessage) {
            $("#myModal").modal('hide');
            if (url == null) {
                url = '/ContactForm/SendUserMessage';
            }
            $.ajax({
                url: url,
                data: {
                    Name: tempName,
                    Title: tempTitle,
                    Email: tempEmail,
                    Message: tempMessage
                },
                type: "post",
                success: function (data) {
                    if (isNullOrWhitespace("" + data)) {
                        toastr.success('Message sent successfully');
                    }
                    else {
                        toastr.error("" + data);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    toastr.error('Message not sent, please try later.');
                }
            });
        }

        function getAboutAppPartialFromController() {
            let url = '/ContactForm/GetAboutAppPartial';
            console.log(url);

            $('#mymodaltitle').text('We value your ideas')
            $('#myModalSize').attr('class', 'modal-dialog-cust-mid');

            $("#mymodalmain").html('<div class="center"><img src="/images/loading.gif" alt="Loading..."></div>');
            SentMessageDataToController(url, 'mymodalmain');
            $("#mymodal-close-button").toggle(true);

            $("#myModal").modal('show');

            sendUsAMessagePost(url, 'mymodal');
        };

        function SentMessageDataToController(url, elementid) {

            if (url == null) {

                url = '/ContactForm/GetUserMessagePartialView';
            }
            if (elementid == null) {
                elementid = 'mymodalmain';
            }
            $.ajax({
                url: url,
                type: "get",
                success: function (data) {
                    $('#' + elementid).html(data);
                },
                error: function (xhr) {
                    console.log(xhr);
                    $('#' + elementid).html('Error loading clients list...');
                }
            });
        }

        function GetMessageModal() {
            $('#mymodaltitle').text('We value your ideas')
            $('#myModalSize').attr('class', 'modal-dialog-cust-mid');

            let url = '/ContactForm/GetUserMessagePartialView';
            console.log(url);
            $("#mymodalmain").html('<div class="center"><img src="/images/loading.gif" alt="Loading..."></div>');
            SentMessageDataToController(url, 'mymodalmain');
            $("#mymodal-close-button").toggle(true);

            $("#myModal").modal('show');
        };

        function copyToClipboard(elementId) {
            // Create a "hidden" input
            var aux = document.createElement("input");
            // Assign it the value of the specified element
            aux.setAttribute("value", document.getElementById(elementId).innerHTML);
            // Append it to the body
            document.body.appendChild(aux);
            // Highlight its content
            aux.select();
            // Copy the highlighted text
            document.execCommand("copy");
            // Remove it from the body
            document.body.removeChild(aux);
            toastr.success("Our email address is copied to the clipboard");
        }

    </script>

</body>
</html>
